@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
  --primary-color: rgb(237, 28, 37);
  --secondary-color: rgb(43,35,97);
  --font-color:rgb(17, 17, 17);
  --sub-header-color: rgb(150, 150, 150);
  --bg-gray: rgb(245,245,245);
  --bg-gray-darker: rgb(240,240,240);
  --mobile-header-height: 4rem;
  --shadow:rgba(0,0,0,0.07);
}
*{
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}
a {
  color: var(--font-color);
}
.MuiButton-label a {
  color:white;
  margin: 0.25rem 2.5rem;
  font-size: 1.25rem;
}
.footer{
  height: 30vh;
  background-color: black;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
}
button{
  font-weight: 500;
  text-transform: uppercase;
  border-radius:0.25rem;
}
h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  font-weight: 500;
}
.cardBrandTag{
  color:var(--sub-header-color);
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}
.cardPriceTag{
  font-size: 1.5rem;
}
.cardNameTag{
  text-transform:capitalize;
  margin-bottom: 0.25rem;
  
}
.primaryButton{
  background: var(--font-color);
  color:white;
  border:0;
  padding: 1rem 0;
  width:100%;
  margin-bottom: 1rem;
}
@media only screen and (min-width:1024px){
  .primaryButton{
    width: 300px;
  }
}
.primaryButton a{
  color:white;
}
.transparentButton{
  background-color:rgba(255,255,255,0);
  color:black;
  border: 0;
  padding: 0.5rem 0 0.5rem 1rem;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
.goBackButton{
  display: flex;
  align-items: center;
  padding:0;
  background-color:transparent;
  border:0;
  font-weight: 700;
  margin-left: -4px;
  margin-bottom: 0.5rem;
  cursor:pointer;
}
.red {
  background-color: var(--primary-color);
}
.flexSpaceBetween{
  display: flex;
  justify-content: space-between;
}
.borderBottom {
  border-bottom: 1px solid rgb(150, 150, 150);
}
/* navBar */
.navigationBar{
  position:fixed;
  width: 100vw;
  background:white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--mobile-header-height);
  padding:0 0.4rem 0 1rem;
  z-index:1;
  border-bottom: 1px solid var(--bg-gray-darker);
}
@media only screen and (min-width: 1024px) {
  .navigationBar{
    padding: 0 2rem;
    
  }
  .menuItemLarge{
    font-weight: 500;
  }
}
.menuLeftSide{
  display:flex;
}
.menuItemLarge{
  display: inline-flex;
  align-items: center;
  padding-left:1.5rem;
}
.menuItemLarge a {
  padding-right:1rem;
}
#logoForLargeScreen{
  display:none;
}
.menuRightSide{
  display:flex;
  align-items: center;
}
#navMenu{
  display:none;
  position:fixed;
  flex-direction: column;
  justify-content: center;
  top:var(--mobile-header-height);
  left:0;
  z-index:2;
  background-color: white;
  width:100vw;
  height:100vh;
}
#navMenu a{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
#search:focus{
  outline:0;
  caret-color: var(--primary-color);
}
.searchNav{
  display: none;
  align-items: center;
  gap: 0.5rem;
  width:100%;
}
.searchBarContainer{
  background-color: var(--bg-gray-darker);
  display: flex;
  align-items: center;
  padding:0.5rem;
  width:90%;
}
.searchBarContainer>input{
  border:0;
  background-color: rgba(0,0,0,0);
  width:100%;
  padding-left: 0.5rem;
}
.searchResult{
  padding-top: var(--mobile-header-height);
}
.noSearchResult{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}
.logo a{
  display: flex;
  align-items: center;
}
.menuButton{
  margin-top:-3px;
}
.hamburger-react>div{
  height: 3px !important;
}
.menuIcon{
  padding: 0.5rem;
}
.hamburger-react:target{
  background-color: none;
}
/* navBar-close */
/* hero image*/
.brandHeroContentsContainer{
  margin: 0 auto;
  background-color: var(--bg-gray-darker);
  padding-top:4rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.brandHeroContentsContainer div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:81vh;
  padding: 0 10vw 0 10vw;
}
.brandHeroContentsContainer img{
  width: 25%;
  margin-bottom: 2rem;
}
.brandHeroContentsContainer div h1{
  margin-bottom: 1rem;
}
.brandHeroContentsContainer p{
  font-size: 0.8rem;
}
.heroContents>div>img{
  width: 8rem;
}
.heroContentsContainer{
  height:90vh;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 30% 2%;
}
@media only screen and (min-width:1024px){
  
}
.heroContents{
  padding-top:var(--mobile-header-height);
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: rgba(0,0,0,0.4);
  color:white;
}
.heroContents h1 {
  font-size: 1.5rem;
  text-align: center;
}
.heroContents button {
  background-color:var(--primary-color);
  border: 0;
  color:white;
  padding:1rem 1.25rem;
}
.heroContents h1 {

  margin-bottom:0.5rem;
}
@media only screen and (min-width: 1024px) {
.heroContents p {
  font-size: 1rem;
  line-height: 150%;
}
}
/* heroimage-close */

/* shoeGrid*/
.shoeGridContainer{
  padding:1rem;
}
.shoeGridContainer h4{
  font-size:1.5rem;
  margin: 1rem 0;
}
.shoeGrid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  .shoeGrid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .shoeGridContainer{
    padding:1rem 2rem;
  }
  .primaryButtonWrapper{
    display: flex;
    justify-content: flex-end;
  }
}
.shoeItem{
  background-color: white;
  box-shadow: 0px 2px 8px var(--shadow);
  padding:1rem;
}
.shoeItem img{
  width:100%;
  margin-bottom: 1rem;
}
/*close shoeGrid*/

/* sort by */
.sortByBox {
  background-color: var(--bg-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding:1rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1024px){
  .sortByBox {
    width: 300px;
    padding:0.75rem;
  }
  .shoeGridContainer .header{
    display:flex;
    justify-content: space-between;
  }
  .shoeGridContainer h4{
    margin:0;
  }
  .dropbtn div{
    display: flex;
    align-items: center;
  }
  .dropdown{
    padding-left:0.5rem;
  }
}
.sortByBox button{
 background-color: rgba(0,0,0,0);
 border:0;
}
.dropdown-content{
  display: none;
  width:100%;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding:1rem;
}
.dropdown-content button{
  padding: 1rem 0;
  width:100%;
}
.dropdown-content button:hover:active{
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
.dropdown span{
  font-weight: 500;
}
.dropdown-content button:last-child{
  padding: 1rem 0 0 0;
  width:100%;
}
.dropdown{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* close sort by */

/* Filter */
.checkBoxBox{
  margin-bottom:1rem;
  display: block;
  position: relative;
  cursor: pointer;
  height:1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items:center;
  padding-left:1.75rem;
}
.checkBoxBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.modelCheckBoxLabel {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #eee;
  white-space: nowrap;
}
/* .checkBoxBox:hover input ~ .modelCheckBoxLabel {
  background-color: #ccc;
} */
.checkBoxBox input:checked ~ .modelCheckBoxLabel {
  background-color: var(--primary-color);
}
.modelCheckBoxLabel:after {
  content: "";
  position: absolute;
  display: none;
}
.childPageBodyContainer{
  display: grid;
  grid-template-columns: 400px auto;
}
@media only screen and (max-width:1023px){
  .childPageBodyContainer{
    display:flex;
    flex-direction: column;
    grid-template-columns: none;
  }
  .filters{
    margin:1rem 1rem 0 1rem;
    width:100%;
  }
}
.filters {
  display:none;
  flex-direction: column;
  width:100%;
}
.TwoThumbInputRangeContainer{
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.colorFilterBox{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--bg-gray-darker);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor:pointer;
}
@media only screen and (min-width:1024px){
  .filters {
    display:flex;
  }
  .filterContainer{
    margin-top: 2rem;
    padding-left:2rem;
  }
  .childPageBodyContainer h4 {
    font-size:24px;
  }
}
@media only screen and (max-width:1023px){
  .filterContainer {
    display:none;
  }
}
.sizeFilterBoxGrid{
  display: inline-flex;
  width:100%;
  flex-wrap: wrap;
  gap:0.5rem;
}
.sizeFilterBox{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--bg-gray-darker);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  width: 3rem;
  cursor:pointer;
}
.filterHeader{
  width:100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
}
.filterHeader button{
  margin-top: 1px;
}
.filterHeader button{
  background-color: rgba(0,0,0,0);
  border:0;
}
.filterCard{
  box-shadow: 0px 2px 8px var(--shadow);
  padding:1rem;
}
.filterContainer{
  margin-bottom:2rem;
}
.filterBody{
  padding-top:1rem;
}
/* close Filter */

/* resultHeader */
.resultHeader {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 1rem;
}
.resultHeader button{
  font-size: 1rem;
}
.resultSmallHeader{
  display:flex;
  flex-direction: row;
}
.resultSmallHeader h4{
  margin: 0;
  padding-right: 0.5rem;
}
.resultSmallHeader h5{
  font-size: 1.5rem;
  color:var(--sub-header-color);
}
/* close resultHeader*/
/* item page */
.itemContainer{
  padding: 7rem 1rem 0 1rem
}
.itemContainer img{
  width:100%;
  margin-bottom: 4rem;
}
@media only screen and (min-width:1024px){
  .itemContainerHeader{
    margin-bottom: 3rem;
  }
  .itemContainer{
    padding: 7rem 2rem 0 2rem;
  }
  .itemContainerBody{
    display: inline-flex;
    gap: 10rem;
    align-items: center;
  }
  .itemContainerBody>img {
    width: 45vw;
  }
}
.chooseYourSize h2{
  margin-bottom: 0.5rem;
}
.chooseYourSize div{
  display: inline-flex;
  gap:0.5rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.itemContainer h1{
  font-size: 2rem;
  font-weight: 700;
}
.itemContainer button{
  font-size: 1.25rem;
  color:var(--sub-header-color);
  font-weight: 500;
}
.purchaseOptions{
  width:100%;
  display:inline-flex;
  gap:1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.purchaseOptions .MuiButtonBase-root{
  margin: 0px;
  width: 440px;
}
.purchaseOptions .cart{
  background-color: transparent;
  border: 3px solid var(--font-color);
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  width:3.5rem;
  height:55px;
  border-radius: 0.25rem;
}
.cart svg{
  margin-top: 1px;
  margin-right:-4px;
}
.itemDescription{
  margin-bottom: 6rem;
}
.itemDescription h2{
  margin-bottom: 0.25rem;
}
.itemCount{
  position: absolute;
  top:1.95rem;
  background-color: var(--primary-color);
  width:1.5rem;
  height:1.5rem;
  margin-left:0.7rem;
  border-radius: 1rem;
  color:white;
  font-weight: 500;
  display: flex;
  align-items:center;
  justify-content: center;
}
/* close item page */

/* checkout */
.checkOutContainer{
  padding: 5rem 1rem 1rem 1rem;
  background-color: var(--bg-gray);
  height:100vh;
}
.checkOutContainer h1{
  font-size:1.5rem;
}
.checkOutCard{
  background-color: white;
  margin-bottom: 1rem;
  padding: 1rem;
}
.checkOutCardBody{
  margin-top:1rem
}
.checkOutCardBody h2{
  font-size: 2rem;
}
.checkOutCardBody h2{
    margin-bottom: 1rem;
}
.checkOutItem{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.checkOutItem .left{
  display:flex;
}
.left h2{
  font-size:1.5rem;
  margin-bottom:0.5rem;
  margin-left: 1rem;
}
.left h3{
  font-size:1.25rem;
  margin-bottom:0.5rem;
  margin-left: 1rem;
}
.left div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.checkOutItem img{
  padding-top:1rem;
  padding-bottom:1rem;
  width:100px;
}

/* close checkout */

/* noItemCar */
.noItemCart{
  display: flex;
  padding-top: var(--mobile-header-height);
  flex-direction: column;
  align-items: center;
}
.noItemCart h1 {
  font-size: 1.5rem;
}
/* close noItemCar */

/* Stripe */
.Checkout .is-desktop{
  font-family: 'Roboto', sans-serif !important;
  display:none !important;
}
.Checkout .Header{
  background-color: var(--primary-color);
}
#modal-header, #modal-body{
  background-color: #d9ffe8;
  } 
/* close */

.landingShoeGridBox{
  margin-top:2rem;
}
.landingBrandShoeGridBox{
  margin-top:5rem;
  margin-bottom:5rem;
}